* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 500vh;
    background-color: black;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}

/*quando o usuario rolar a tela */
header.rolagem {
    /* teste com #fff e para deixar transparente é só adicionar o transparent */
    background-color: #fff;
    padding: 20px 4%;
}

header.rolagem a {
    color: #ffAe81;
}

header.rolagem a, header.rolagem i {
    color: #ffAe81;
}
header.rolagem button{
    color: white;
}
header i {
    font-size: 30px;
    color: #fff;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

.btn-contato button {
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #fe775a;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}


.banner {
    height: 100vh;
    background-image: url(./img/por-do-sol.jpg);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    font-size: 4em;
}

.banner h1 span {
    color: #ffAe81;
}